.list {
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
  border-radius: 9999px;
  padding: 5px;
}

.tab {

  &[data-active] {
    z-index: 1;
    background-color: #1178651a;
    color: #152F60;
    border-radius: 9999px;
  }
}

.tabLabel {
  font-size: 18px;
}
